.main-button {
    display: inline-block; /* 'inline' não permite definir largura (width) e altura (height). */
    background-color: #F25A70;
    height: 60px;
    line-height: 60px; /* alinha o texto no centro, mas tem que ter o mesmo valor da altura (height). Só pode em uma linha. O tamanho quem define é o conteúdo. */
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000000; /* x, y, blur, cor */
    margin-right: 40px;
    transition: transform 100ms cubic-bezier(0.45, 0.97, 0.68, 2.48);
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.main-button:hover {
    transform: scale(1.08);
}
